# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\anton\OneDrive - Universidade de Lisboa\TECNICO 2\1ºSemestre\AED\Projeto\AirRoutes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
